* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sono", monospace;
    background-image: url('homepage.png'); /* Background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    min-height: 120vh;
    color: #fff;
    font-weight: 200;
}

.Featuring {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

.Featuring h3 {
    font-family: "Qwitcher Grypen", sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.Featuring p {
    font-family: "Sono", monospace;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 15px;
}

.Featuring iframe {
    border-radius: 8px;
}

.Featuring:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
