* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sono", monospace;
    font-weight: 500;
}

body {
    background: #f5f5eb;
    color: #333;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .logo img {
    width: 60px;
}

.navbar nav {
    display: flex; 
}

.navbar nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.navbar nav a:hover {
    color: #8b5d33;
}

.search-bar input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 14px;
}

h1 {
    /* kundiman kanto shadow text text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);  */ 
    font-family: "Qwitcher Grypen", cursive;
    font-weight: normal;
    color: #8b5d33;
    margin-top: 75px;
    font-size: 85px; 
    text-align: center;
}

.comment-wrapper {
    padding: 32px; 
    background-color: #efe2d2; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 32px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; 
}

.comment-wrapper font[size="6"] {
    display: block; 
    margin-bottom: 32px;
    text-align: left; 
}

.comment-form {
    margin-bottom: 48px; 
}

.comment-form .flex-pair {
    display: flex;
    padding: 0 48px 16px; 
    align-items: center;
}

.comment-form label {
    flex: 2;
    text-align: right;
    margin-right: 16px; 
}

.comment-form input, textarea {
    margin-left: 16px; 
    flex: 6;
}

.show-hide {
    text-align: center;
    width: 150px;
}

.comment-form input, .comment-form label, .show-hide {
    font-size: 25.6px; 
    line-height: 32px;
}

.flex-pair input[type="submit"] {
    padding: 8px 16px; 
    font-size: 13px; 
    border-radius: 5px;
    background-color: #8b5d33;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.flex-pair input[type="submit"]:hover {
    background-color: #70431c;
}

.comment-container {
    background-color: #ffffff; 
    padding: 32px; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    margin-top: 32px; 
}

.comment-container li {
    list-style-type: none;
    padding: 16px; 
    background: #fff;
    border: 1px solid #5634008b;
    border-radius: 5px;
    margin-bottom: 16px; 
}

.comment-container li p:nth-child(1) {
    flex: 1;
    font-weight: bold;
}

.comment-container li p:nth-child(2) {
    flex: 5;
}
